@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial;
    
}

html {
    scroll-behavior: smooth;
}

:root{
    --main-color: #E4AA48;
    --gold-color: #C09240;
    --white: #FAF8F5;
    --black: #000000;
    --taupe: #D2CBBE;
    --dbrown: #22180D;

}

body {
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}


/******* IN ANIMATION START ********/
.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.6s ease-in-out;
    margin: 0;
}



.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    margin: 0;
}

.text-box{
    overflow: hidden;
    margin: 0;
    display: grid;
    
}

.delay{
    transition-delay: 200ms;
}
.delay2{
    transition-delay: 300ms;
}
.delay3{
    transition-delay: 400ms;
}

/******* IN ANIMATION END ********/

ul {
    list-style: none;
}

.logo {
    font-size: 2rem;
}

.navbar {
    height: 100px;
    width: 100px;
}

.home {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 7%;
    z-index: 999;
    mix-blend-mode: difference;
}

.home a{
    text-decoration: none !important;
}

@media screen and (max-width: 1440px) {
    .home {
        padding: 50px 0;
        
    }
    
}

@media screen and (max-width: 1024px) {

    .home {
        padding: 50px 0;
        
    }
    
}

@media screen and (max-width: 768px) {

    .home {
        padding: 10px 0;

    }
    
}


.menu-div {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-div:hover {
    color: var(--gold-color);
    transition: all 0.2s ease-in-out;  
}

.menu {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10%;
    position: fixed;
    top: -110%;
    align-items: center;
    background-color: var(--taupe);
    gap: 2px;
    overflow-y: hidden;
    z-index: 998;
}

.nav {
    opacity: 0;
    margin-bottom: -20px;
}

.nav-link {
    color: var(--dbrown);
    text-decoration: none;
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
    
}

.nav-link:hover {
    color: var(--gold-color);
    transition: all 0.2s ease-in-out;
}

.background {
    position: absolute;
    font-size: 15rem;
    font-weight: 600;
    color: rgba(235, 235, 235, 0.04);
    user-select: none;
}

.small-number {
    font-size: 1.2rem;
}


.title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--dbrown);
}

.right .head  {
    
    color: var(--dbrown);
}

.right {
    width: 360px;
    padding: 0 20px;
}

.left {
  
    width: 250px;
}

.information {
    margin-bottom: 24px;
}

.information :nth-child(2) {
    padding-left: 30px;
}

.information a{
    text-decoration: none;
}

.information .contact-wrapper {
    height: 50px;
    width: 120px;
}

.information .contact-wrapper .target{
    height: 50px;  
}

.information .contact-wrapper .itemTarget {
    height: 50px;
    width: 130px;
    border-radius: 20px;
    border: solid 2px var(--gold-color);
}

.information .contact-wrapper .title {
    font-size: 16px;
    padding-top: 10px;
    color: var(--gold-color);
}

.information .description {
    color: var(--dbrown);
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 10px;
}

.information .mail{
    color: var(--dbrown);
    font-weight: 500;
}

.menu-container {
    z-index: 3;
   
}

.social-medias > a {
    color: #FAF8F5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* Media Query */
@media screen and (max-width: 660px) {
    .menu {
        flex-direction: column;
        justify-content: center;
    }

    .right {
        display: none;
    }
}

label{
    display:flex;
     flex-direction:column;
     width:30px;
     cursor:pointer;
   }
   
   label span{
     background: var(--white);
     border-radius:10px;
     height:3px;
     margin: 3px 0;
     transition: .3s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }

 
   
   span:nth-of-type(1){
     width:50%;
     
   }
   
   span:nth-of-type(2){
     width:75%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(5px,0px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     width:65%;
     transform: translate(3px, -3px) rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:40%;
     transform: translate(9.5px,-10px) rotatez(45deg);
   
   }
   

.container {
    position: relative;
    margin: 0 8%;
}

.container .projects{
    position: absolute;
    bottom: 12%;
    right: 7%;
    height: 40px;
    width: 140px;
    display: grid;
    place-items: center; 
}

.container .projects .innerItem{
    position: absolute;
    padding: 10px 0;
    justify-content: center;
    height: 50px;
    width: 130px;
    text-align: center;
    border: solid 2px var(--main-color); 
    border-radius: 20px;
}

.container .projects .itemTarget{
    height: 50px;
    width: 130px;
    
}
.container .projects .innerItem a{
    text-decoration: none;
}

.container .projects .innerItem span{
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    

}

.container .slide-container .slide{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 17%;
    padding-bottom: 70px;
    transition-delay: 500ms;
}



.container .slide-container .slide .content{
    flex: 1 1 150px;
    line-height: 3rem;
    justify-content: space-around;
}



.container .slide-container .slide .image{
    overflow: hidden;
    flex:1 1 450px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
    
}

.container .slide-container .slide .image img{
    max-width: 100%;
    max-width: 100%;
    animation: fadeIn 3s linear ;
    background-color:var(--black);
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: both;
   
    
}

@keyframes fadeIn{
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
}

.container .slide-container .slide .content{
    position: relative;
    height: 280px;
    width: 80%
}

.container .slide-container .slide .text-header{
    position: relative; 
    overflow: hidden;
}



.container .slide-container .slide .content h3{
    animation: slideText-header 1000ms cubic-bezier(0.77,0.2,0.05,1.0) .5s backwards;
}
@keyframes slideText-header{
    0%{
        opacity: 0%;
        transform: translateY(120px);
    }
}

.container .slide-container .slide .content h3,
.container .slide-container .slide .content p{
    color: rgba(180, 182, 186, 1);
}


.container .slide-container .slide .content h3{
    line-height: 3.3rem;
    font-weight: 800;
    font-size: 40px;
    padding: 10px 0;
}

.container .slide-container .slide .content .long{
    font-size: 16px;
    line-height: 2rem;
    overflow: hidden;
}

.container .slide-container .slide .content .long p{
    animation: slideText-long 1000ms cubic-bezier(0.77,0.2,0.05,1.0) .8s backwards;
    
}

@keyframes slideText-long{
    0%{
        opacity: 0%;
        transform: translateY(100px);
    }
}


.container .slide-container .slide .content .short{
    display: flex;
    margin-bottom: 30px;
    /* overflow: hidden; */
    /* margin-left: 20px; */
}

.container .slide-container .slide .content .short .hideflow{
    overflow: hidden;
}

.container .slide-container .slide .content .short .square{
    position: relative;
    display: grid;
    place-items: center;
    height: 45px;
    width: 25px;
    background-color: black;
    z-index: 1;
}

.container .slide-container .slide .content .short .square .itemSquare{
    position: absolute;
    height: 30px;
    width: 5px;
    left: 0;
    border-radius: 10px;
    animation: slide-itemSquare 1000ms cubic-bezier(0.77,0.2,0.05,1.0) .3s backwards;
    overflow: visible;
    visibility: visible;
}

@keyframes slide-itemSquare{
    0%{
        opacity: 0%;
        transform: translateX(-50px);
    }
}

.container .slide-container .slide .content .short .square .color1{
    background-color: #EF463C;  
}

.container .slide-container .slide .content .short .square .color2{
    background-color: var(--main-color);  
}

.container .slide-container .slide .content .short .square .color3{
    background-color: #1DFFFF;  
}

.container .slide-container .slide .content .short p{
    animation: slideText-short 1000ms cubic-bezier(0.77,0,0.18,1) .7s backwards;
    /* border: 1px solid red; */
    height: 50px;
    width:200px;
}

@keyframes slideText-short{
    0%{
        opacity: 0%;
        transform: translateX(-100px);
    }
}

.container .slide-container .slide .btn{
    margin-top: 10px;
    display: inline-block;
    background: var(--white);
    color: var(--taupe);
    font-size: 17px;
    padding: 9px 40px;
}

.container .slide-container .slide .btn:hover{
    background: #333;
}

.container .slide-container{
    display: none;
}

.container .slide-container.active{
    display: block;
}

.container #prev, 
.container #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--taupe);
    width: 70px;
    /* height: auto; */
    display: grid;
    place-items: center;
    justify-content: center;
    cursor: pointer;
    /* background: red; */
 
} 



.container #prev{
    left: 8%;

}

.container #next{
    right: 8%;
}

@media screen and (max-width: 1440px) {
    .container .slide-container .slide{
        padding: 20px 12%;
    }
    .container #prev{
        left: 1%;
    }
    
    .container #next{
        right: 3%;
    }
}

@media (max-width: 1024px) {
    .container .slide-container .slide{
        padding: 20px 5%;
    }
    
}

@media (max-width: 768px){
    .slide {
        gap: 20px;
    }

    .container .slide-container {
        position: relative;
        padding: -10% 0;
    }

    .container .slide-container .slide{
        flex-wrap: nowrap;
        flex-direction: column;
        max-height: 100vh;

    }
    
}




@media  (max-width: 1024px){
    .container #prev{
        left: -5%;
        top: 50%;
    }
    
    .container #next{
        right: -5%;
        top:50%;
    }
}

@media (max-width: 768px) {
    .container #prev{
        left: -5%;
        top: 60%;
    }
    
    .container #next{
        right: -5%;
        top:60%;
    }

    .container .slide-container .slide{
        min-height: 100vh;
        padding: 25% 0;

    }

    .container {
        margin: 0 6%;
    }

    .container .slide-container .slide .text-header br{
        display: none !important;
    }
    
}


@media screen and (max-width: 425px){
    .container #prev, 
    .container #next{
        width: 50px;
    } 
    .slide {
        gap: 0;
    }
    
    .container .projects{
        bottom: 6%;
    }

    .container .slide-container .slide .text-header br{
        display: inline !important;
    }
    .container .slide-container .slide .content h3{
        
        line-height: 3.3rem;
        font-weight: 800;
        font-size: 28px;

    }

    .container .slide-container .slide .content{

        /* height: 10px; */
        width: 80%
    }

    .container .slide-container .slide .image{
        flex: 1 1 50px;
        height: 400px;
        width: 80%;
    }

    .container #prev{
        top: 72%;
        left: -7.5%;
        margin: 10px;
    }
    
    .container #next{
        top: 72%;
        right: -7.5%;
        margin: 10px;
    }
    

}

.itemTarget{
    position: relative;
    margin: 0;
    user-select: none;
    width: 79px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}



.text {
    position: relative;
    color: var(--taupe);
    margin: 0;
    padding: 0;
    user-select: none;
    width: 79px;
    height: 79px;
    border: solid 2px var(--taupe);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* margin: 0 50px; */
  }

  .text span{
    width: 22px;
  }

  @media (max-width: 425px) {
    .text {
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;

      } 
    
}

@media (max-width: 375px) {
    .container #prev{
        top: 73%;
    }
    
    .container #next{
        top:73%;
    }
}

  /* .cursor1, */
  .slide .target
   {
    border-radius: 50px;
    width: 0px;
    height: 0px;
    border: solid 1px var(--taupe);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    mix-blend-mode: difference;
    position: fixed;
  }


  .cursor {
    pointer-events: none;
  }

  .cursor .cursor-text{
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 5px !important;
    transition: all .2s ease-in-out; 

  }

  @media  screen and (max-width: 768px) {
    .slide .target {
        pointer-events: none !important;
        
    }
    .cursor {
        display: none !important;
        visibility: hidden;
    }
  }

  .target:hover + .cursor-text{
    display: block;
    visibility: visible;
  opacity: 1;
  }

  .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
  }
  
  .cursor__ball circle {
    fill: var(--taupe);
  }

/*--------------------------------------------------------------
# HERO SECTION END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# PORTFOLIO SECTION START
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# PORTFOLIO SECTION END
--------------------------------------------------------------*/

/***** ABOUT SECTION START ******/

.about {
    height: 50vh;
    background: var(--taupe);
    padding: 100px 0;
    display: grid;
    place-items: center;
    
}


.about .wrapper {
    position: relative;
    /* background: red; */
    height: 90%;
    width: 55%;
}


.about .wrapper .content {
    display: flex;
    flex-direction: column;
    
    
}

.about .wrapper .content .kumusta{
    font-weight: 700;
    font-size: 36px;
}

.about .wrapper .content h2{
    font-size: 30px;
    font-weight: 500;
    color: #333;
    padding-bottom: 8%;
}


.about .wrapper .content .btn-wrapper{
    position: absolute !important;
    /* top: 70%; */
    bottom: -12%;
}

@media screen and (max-width: 1440px) {
    .about .wrapper{
        width: 65%;
    }

    .about .wrapper .content .btn-wrapper{
       
        bottom: -20%;
    }
    .about .wrapper .content .kumusta{
        font-size: 30px;
    }
    
    .about .wrapper .content h2{
        font-size: 28px;

    }
}

@media screen and (max-width: 768px) {
    .about {
        height: 60vh;
        padding: 80px 0;

    }
    .about .wrapper {
        width: 75%;
    }
    
}



@media screen and (max-width: 425px) {
    .about {
        height: 65vh;

    }

    .about .wrapper {
        width: 90%;
    }

    .about .wrapper .content h2{
        font-size: 28px;
        padding-bottom: 2%;
    }

    .about .wrapper .content .btn-wrapper{
       
        bottom: -24%;
    }

    .about .wrapper .content .kumusta{
        font-size: 24px;
    }
    
    .about .wrapper .content h2{
        font-size: 24px;

    }
    
    }
    @media screen and (max-width: 375px) {
        .about {
            height: 70vh;
            padding: 50px 0;
    
        }
        .about .wrapper .content .btn-wrapper{
       
            bottom: -5%;
        }

        .about .wrapper .content .hidden{
            font-size: 24px;
        }
    }

    @media screen and (max-width: 320px) {
        .about {
            height: 80vh;
    
        }
        .about .wrapper .content .btn-wrapper{
       
            bottom: -5%;
        }

        .about .wrapper .content .hidden{
            font-size: 24px;
        }


        
    }
    

.about .wrapper .content .btn-wrapper .itemTarget{
    height: 50px;
    width: 130px;
}

.about .wrapper .content .innerItem {
    position: absolute;
    padding: 10px 0;
    justify-content: center;
    height: 50px;
    width: 130px;
    text-align: center;
    border: solid 2px #333; 
    border-radius: 20px;
}

.about .wrapper .content .innerItem span{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

/************** SERVICES START **************/

.services {
    position: relative;
    min-height: 100vh;
    background-color: black;
    padding: 100px 0;
    display: grid;
    place-items: center;
}

.services .wrapper {
    height: 100%;
    width: 55%;
    /* background-color: red; */
    display: flex;
    flex-direction: column ;
    justify-content: center;
}


.service-header {
    font-size: 24px;
    margin-bottom: 60px;
}

.service2,
.service1 {
    width: 100%;
    height: auto;
    /* background: blue !important; */
    display: flex;
    flex-direction: row;
    /* column-gap: 40px; */
    margin-bottom: 60px;
    
}


.service1 .content2,
.service2 .content1,
.service1 .content1,
.service2 .content2 {
    padding-right: 60px;
    width: 50%;
}

.service2 .content2, 
.service1 .content2,
.service2 .content2 {
    padding-right: 60px;
}

.service2 .content2 h2,
.service1 .content2 h2,
.service2 .content1 h2,
.service1 .content1 h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-bottom: 10px;
    font-weight: 600;
    color: #E4AA48;
}


.service2 .content2 p,
.service1 .content2 p,
.service2 .content1 p,
.service1 .content1 p {
    font-size: 1rem;
    line-height: 2.5rem;
}


@media screen and (max-width: 1440px) {
    .services {
        min-height: 80vh;
    }

    .services .wrapper{
        width: 65%;
    }
}

@media screen and (max-width: 768px) {

    .services .wrapper {

        width: 75%;
   
    }
    

    .service2,
    .service1{
        display: flex;
        flex-direction: column;

    }
    .service2 .content1,
    .service1 .content1{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .service1 .content2,
    .service2 .content1,
    .service1 .content1,
    .service2 .content2 {
        width: 100%;
    }

    
}


@media screen and (max-width: 425px) {
    .services .wrapper{
        width: 80%;
    }
    
.service1 .content2,
.service2 .content1,
.service1 .content1,
.service2 .content2 {
    padding-right: 0px;
    width: 100%;
}

    .services .wrapper {

        width: 80%;
   
    }

    .service-header h2{
        font-size: 28px;
    }

    .service2 .content2 h2,
    .service1 .content2 h2,
    .service2 .content1 h2,
    .service1 .content1 h2 {
        font-size: 24px;

}




}

/************** SERVICES END **************/

/************** PARTNERS START **************/

.partners{
    position: relative;
    max-height: 60vh;
    /* background-color: var(--taupe); */
    background-color: var(--black);
    padding: 100px 0;
    display: grid;
    place-items: center;
}

.partners .wrapper {
    height: 100%;
    width: 55%;
    /* background-color: red; */
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

.partners .wrapper .partners-header {
    font-size: 24px;
    margin-bottom: 60px;
}

.partners .clients-logo {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 40px;
    margin-bottom: 60px;
}

.clients-logo .logo-flex {
    display: flex;
    gap: 40px;
}


@media screen and (max-width: 1440px){
    .partners .wrapper{
        width: 65%;
    }
}



.partners .clients-logo .logo3,
.partners .clients-logo .logo1,
.partners .clients-logo .logo2{
    /* border: solid 1px var(--taupe); */
    /* border-radius: 20%; */
    z-index: 1;
}

.partners .clients-logo .logo{
    padding: 0 20px;

}

@media screen and (max-width: 768px) {
    .partners{
        max-height: 85vh;
    }

    .partners .wrapper{
        width: 75%;
    }

    .partners .clients-logo {
        flex-direction: column;
    }
    .clients-logo .logo-flex {
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 425px){
    .partners .wrapper{
        width: 80%;
    }
    .partners .wrapper .partners-header h2{
        font-size: 28px;
    }
}


@media screen and (max-width: 375px){

    .partners{
        padding: 0px 0;
        max-height:95vh;
    }

    .clients-logo .logo-flex {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .partners .clients-logo .text-box{
        display: grid;
        place-items: center;
    }
    
}

/************** PARTNERS END **************/

/************** FOOTER START **************/
.footer{
    height: 55vh;
    background: var(--taupe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.end-message{
    height: 15vh;
    position: relative;
    background:var(--black) ;
    opacity: 70%;
    
    width: 100%;
    top: 100%;
    display: grid;
    place-items: center;
    letter-spacing: 2px;
}
.footer .socials{
    /* background: red; */
    width: 55%;
    height: 100%;
    display: flex;
    flex: row;
    
}



.footer .call-action{
height: 100%;
width: 50%;
/* background: green !important; */
display: flex;
flex-direction: column !important;
padding: 10px;
color: var(--black);

}



.footer .call-action h2{
    font-size: 36px;
    margin-bottom: 40px;
    margin-right: 10px;
}



.footer .call-action .wrapper-action {
    /* border: solid 1px red; */
    height: 50px;
    width: 130px;
    border-radius: 20px;
    color: var(--black);

}

.footer .call-action .wrapper-action .itemTarget {
    /* border: solid 1px red!important; */
    height: 50px;
    width: 130px;
    border-radius: 20px;
    border: solid 2px var(--black);
    
    
    

}

.footer .call-action .wrapper-action span {
    font-weight: 600;
}

.footer .social-media{
    height: 100%;
    width: 50%;
    /* background: blue !important; */
    padding: 10px;
    
}

@media screen and (max-width: 1440px){
    .footer .socials{
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        height: 80vh;
    }

    .footer .socials{
        width: 75%;
        gap: 10%;
    }

    .footer .socials{
        flex-direction: column;
    }

    .footer .call-action{
        width: 100%;
        }

    .footer .social-media{
            width: 100%;
    }
}


.footer .social-media .socmed-icon{
    display: flex;
    
}

.footer .social-media .soc-icon3,
.footer .social-media .soc-icon2,
.footer .social-media .soc-icon1,
.footer .social-media .soc-icon4{
    display: flex;
    gap: 0px;
}

.footer .social-media h2{
    font-size: 36px;
    margin-bottom: 10%;
    margin-right: 10px;
    color: var(--black);
    
}

.footer .social-media .bdy{
    height: 60px;
    width: 60px;
    background: var(--black);
    border-radius: 50px;
    display: grid;
    place-items: center;
    
}

.footer .social-media .bdy img{
    height: auto !important;
    width: 35px;
}

@media screen and (max-width: 768px){


    .footer .social-media h2{
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 425px){
    .footer{
        height: 70vh;
    }

    .footer .call-action h2{
        font-size: 28px;
    }

    .footer .social-media h2{
        font-size: 28px;

    }

    .footer .socials{
        width: 90%;
    }

    .footer .social-media{

        width: 100%;
    }
    
    .footer .social-media .socmed-icon{
        gap: 0px;
    }

    .footer .social-media .bdy{
        height: 50px;
        width: 50px;
    }
    
    .footer .social-media .bdy img{
        height: auto !important;
        width: 30px;
    }

}

@media screen and (max-width: 375px) {
    .footer{
        height: 80vh;
    }
}

@media screen and (max-width: 320px){
    .footer{
        height: 80vh;
    }

    .footer .call-action h2{
        font-size: 28px;
    }

    .footer .social-media h2{
        font-size: 28px;

    }

    .footer .socials{
        width: 90%;
    }

    .footer .social-media{

        width: 100%;
    }
    
    .footer .social-media .socmed-icon{
        gap: 0px;
    }

    .footer .social-media .bdy{
        height: 50px;
        width: 50px;
    }
    
    .footer .social-media .bdy img{
        height: auto !important;
        width: 30px;
    }

    .footer .social-media .soc-icon3,
    .footer .social-media .soc-icon2,
    .footer .social-media .soc-icon1,
    .footer .social-media .soc-icon4{
        display: flex;
        gap: 0px;
        width: 23%;
        /* background: red !important; */
}

}

.end-message .text-box .hidden {
    font-size: 12px;
}

/************** FOOTER END **************/